version: "3.9"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - .:/app
    working_dir: /app
    command: uvicorn test:app --host 0.0.0.0 --port 5000
    ports:
      - "5055:5000"
    restart: always
